.navbar{
    height: 50px;
    padding-top: 10px;
}

.navbar__marca{
    height: 50px;
}

.navbar__enlace{
    font-family: "Poppins", sans-serif;
    font-weight: 700; 
    text-decoration: none;
}

.navbar__image{
    border-radius: 5px;
    margin-left: 103px;
    box-shadow: 2px 4px 3px #888888;
    margin-right: 5px;
}