.subscription{
    background-color: rgb(114, 158, 46);
}

.subscription__boton{
    background-color: rgb(178, 186, 187);
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: medium;
    border: none;
}