.footer-brand__nombreblog{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.footer-brand__image{
    border-radius: 5px;
    box-shadow: 2px 4px 3px #888888;
    margin-right: 5px;
}

.footer-datos__empresayfecha{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}